@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
/* body {
	font-family: 'bignoodletitlingregular', monospace;
}
:root {
	--text-color: #22c55d;
}
@font-face {
	font-family: 'bignoodletitlingregular';
	src: url('/fonts/big_noodle_titling-webfont.woff2') format('woff2'),
		url('/fonts/big_noodle_titling-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
. {
	font-family: '', sans-serif;
} */
*{
	padding: 0;
	margin: 0;
}
.appear {
	opacity: 0;
	animation: fadeAnimation 0.6s forwards;
	@apply hover:opacity-70;
}
@keyframes fadeAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}
.mainappear {
	opacity: 0;
	animation: fadeAnimation1 0.6s forwards;
}
@keyframes fadeAnimation1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}